<h1>Stupid Coaching</h1>
<div class="block">
  <p id="question"><%= @question %></p>
  <p class="signature">—You</p>
</div>
<div class="block answer">
  <p><strong><%= @answer %></strong></p>
  <p class="signature">—Your Coach</p>
</div>
<%= link_to "Ask a new question", ask_path %>